html{
  display: grid;
  background-image: url(kepek/headerHatter.png);
  place-items: center;
}

body{
  width: 90%;
  background-color: white;
}

header {
  display: grid;
  place-items: center;
  
}

h1 {
  background: radial-gradient(
    #ffe400,
    #06ff00,
    #00f5ff,
    #1d1ce5,
    #a31acb,
    #f900bf,
    #ff1e1e,
    #ff5f00
  );
  font-size: 85px;
  max-width: 650px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

nav {
  display: flex;
  gap: 15px;
  position: sticky;
  color: transparent;
  
}

.checkboxok{
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 15px;
}

a{
  text-decoration: none;
  color: black;
}

a::after{
  text-decoration: none;
  color: black;
}

img {
  width: 250px;
  height: auto;
  background-color: transparent;
}

.kartya {
  display: grid;
  border: 1px solid black;
  width: 370px;
  place-items: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;

}

label {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
  height: 30px;
  width: 30px;
}

input {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.RGB,
.oldalstilus {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

#RGBKep img{
  width: 30px;
  height: 30px;
}

button {
  width: 120px;
  position: relative;
  height: 50px;
  border: 1px solid #1479EA;
  background-color: transparent;
  border-radius: 50% 20% / 30% 0% ;
}

button:hover {
  border: 3px ridge #1479EA;
}

.rszin{
  border: 1px solid #f900bf;
}

.rszin:hover {
  border: 3px ridge #f900bf;
}

.lila{
  border: 1px solid #a31acb;
}

.lila:hover {
  border: 3px ridge #a31acb;
}

.zold{
  border: 1px solid #06ff00;
}

.zold:hover {
  border: 3px ridge #06ff00;
}

@keyframes mozgatas {
  to {
    filter: hue-rotate(1turn);
  }
}
